EBCMS_APP_NAME="Enterprise Brokerage Calculation & Management System"
EBCMS_DATABASE_URL="sqlite:///./ebcms.db"
EBCMS_ALLOWED_CURRENCIES="INR,USD,EUR,GBP"
EBCMS_DEFAULT_GST_RATE="0.18"
EBCMS_DEFAULT_STT_RATE="0.00025"
EBCMS_DEFAULT_EXCHANGE_TXN_RATE="0.0000325"
EBCMS_DEFAULT_SEBI_RATE="0.000001"
EBCMS_LOG_LEVEL="INFO"

